In [1]:
import pandas as pd

DATA_FOLDER = './data/matched_beer_data/'

def load_files(filename):
    df = pd.read_csv(DATA_FOLDER + filename, header=[0,1])
    return df

beers = load_files('beers.csv')
breweries = load_files('breweries.csv')
ratings = load_files('ratings.csv')
users = load_files('users.csv')
users_approx = load_files('users_approx.csv')

ratings_ba = pd.read_csv(DATA_FOLDER + 'ratings_ba.csv')
ratings_rb = pd.read_csv(DATA_FOLDER + 'ratings_rb.csv')
ratings_with_text_ba = pd.read_csv(DATA_FOLDER +'ratings_with_text_ba.csv')
ratings_with_text_rb = pd.read_csv(DATA_FOLDER + 'ratings_with_text_rb.csv')

In [2]:
beers.describe()

                 ba                                                        \
                abv           avg  avg_computed avg_matched_valid_ratings
count  45640.000000  40285.000000  40285.000000              28272.000000
mean       6.320865      3.732373      3.727853                  3.747771
std        1.857730      0.439988      0.424824                  0.484775
min        0.380000      1.000000      1.000000                  1.000000
25%        5.000000      3.520000      3.520000                  3.520000
50%        6.000000      3.780000      3.772500                  3.808333
75%        7.200000      4.000000      4.000000                  4.045000
max       67.500000      5.000000      5.000000                  5.000000

                                                              \
           ba_score        beer_id    brewery_id  bros_score
count  10499.000000   45640.000000  45640.000000  727.000000
mean      84.871035  166373.644435  27056.299408   86.162311
std        3.282869   79575.841933  13976.714800    8.539396
min       63.000000      12.000000      3.000000   31.000000
25%       83.000000  102565.000000  17088.500000   83.000000
50%       85.000000  171530.500000  30454.000000   88.000000
75%       86.000000  236441.500000  37301.250000   91.000000
max      100.000000  293296.000000  49814.000000  100.000000

                                               ...                        rb  \
      nbr_matched_valid_ratings   nbr_ratings  ... avg_matched_valid_ratings
count              45640.000000  45640.000000  ...              42228.000000
mean                   6.332713     20.945837  ...                  3.372042
std                   42.508595    137.768038  ...                  0.417038
min                    0.000000      0.000000  ...                  0.500000
25%                    0.000000      1.000000  ...                  3.155129
50%                    1.000000      3.000000  ...                  3.409808
75%                    3.000000      8.000000  ...                  3.650000
max                 2968.000000   9228.000000  ...                  5.000000

                                                                            \
             beer_id    brewery_id nbr_matched_valid_ratings   nbr_ratings
count   45640.000000  45640.000000              45640.000000  45640.000000
mean   301173.800570  14491.501380                 22.361941     22.362796
std    144143.467083   8136.750405                 80.101475     80.107455
min         3.000000      1.000000                  0.000000      0.000000
25%    195512.250000   9010.000000                  2.000000      2.000000
50%    314897.000000  15106.000000                  5.000000      5.000000
75%    420736.250000  20423.000000                 16.000000     16.000000
max    536449.000000  32231.000000               5270.000000   5272.000000

                                                       scores
      overall_score   style_score        zscore          diff           sim
count  15698.000000  15698.000000  42228.000000  45640.000000  45640.000000
mean      62.675054     60.096191     -0.104638      0.797587      0.986315
std       26.084721     27.666104      0.732841      0.202589      0.042304
min        0.000000      0.000000     -5.460346      0.400024      0.800006
25%       43.000000     40.000000     -0.479561      0.618448      1.000000
50%       65.000000     61.000000     -0.023696      0.816497      1.000000
75%       87.000000     86.000000      0.364636      1.000000      1.000000
max      100.000000    100.000000      2.941123      1.000000      1.000000

[8 rows x 25 columns]

In [3]:
breweries.describe()

                 ba                         rb                    scores  \
                 id    nbr_beers            id    nbr_beers         diff
count   8281.000000  8281.000000   8281.000000  8281.000000  8281.000000
mean   29601.215312    20.146842  15582.040937    28.622026     0.542209
std    14914.877090    45.608499   8765.560588    37.870551     0.161488
min        3.000000     0.000000      1.000000     0.000000     0.300225
25%    18110.000000     3.000000   8532.000000     7.000000     0.419018
50%    33080.000000     8.000000  15975.000000    15.000000     0.516728
75%    42250.000000    21.000000  22543.000000    34.000000     0.658297
max    49816.000000  1196.000000  32240.000000   291.000000     1.000000


               sim
count  8281.000000
mean      0.971227
std       0.049393
min       0.800209
25%       0.955910
50%       1.000000
75%       1.000000
max       1.000000

In [4]:
ratings.describe()

                 ba                                                           \
                abv    appearance         aroma        beer_id    brewery_id
count  21964.000000  19295.000000  19295.000000   21964.000000  21964.000000
mean       6.800216      3.783286      3.704042   79464.271899  13024.114005
std        2.096192      0.562042      0.597862   75270.847172  13715.268560
min        0.500000      1.000000      1.000000      12.000000      3.000000
25%        5.200000      3.500000      3.500000   19976.000000    489.000000
50%        6.400000      4.000000      3.750000   59214.000000   9790.000000
75%        8.000000      4.000000      4.000000  109835.750000  24220.000000
max       39.000000      5.000000      5.000000  293187.000000  49808.000000

                                                                             \
               date       overall        palate        rating         taste
count  2.196400e+04  19295.000000  19295.000000  21964.000000  19295.000000
mean   1.343671e+09      3.734193      3.678712      3.713028      3.715872
std    1.120686e+08      0.614882      0.618717      0.554912      0.623430
min    9.841356e+08      1.000000      1.000000      1.000000      1.000000
25%    1.270958e+09      3.500000      3.500000      3.450000      3.500000
50%    1.368353e+09      4.000000      3.750000      3.770000      3.750000
75%    1.434708e+09      4.000000      4.000000      4.050000      4.000000
max    1.501409e+09      5.000000      5.000000      5.000000      5.000000

       ...            rb                                             \
       ...    appearance         aroma        beer_id    brewery_id
count  ...  21964.000000  21964.000000   21964.000000  21964.000000
mean   ...      3.685986      6.960344  151276.247678   6980.279594
std    ...      0.677436      1.355669  139654.227398   7208.524395
min    ...      1.000000      1.000000       3.000000      1.000000
25%    ...      3.000000      6.000000   27183.750000    635.000000
50%    ...      4.000000      7.000000  118922.000000   4844.000000
75%    ...      4.000000      8.000000  234207.250000  12103.000000
max    ...      5.000000     10.000000  536010.000000  32156.000000

                                                                             \
               date       overall        palate        rating         taste
count  2.196400e+04  21964.000000  21964.000000  21964.000000  21964.000000
mean   1.344840e+09     14.401657      3.535057      3.558824      7.005190
std    1.125011e+08      2.677514      0.733544      0.585348      1.384695
min    9.695304e+08      1.000000      1.000000      0.500000      1.000000
25%    1.278324e+09     13.000000      3.000000      3.300000      6.000000
50%    1.365502e+09     15.000000      4.000000      3.600000      7.000000
75%    1.434384e+09     16.000000      4.000000      4.000000      8.000000
max    1.501409e+09     20.000000      5.000000      5.000000     10.000000


             user_id
count   21964.000000
mean   104290.115871
std     92530.578091
min        46.000000
25%     32031.000000
50%     87126.000000
75%    126758.000000
max    480444.000000

[8 rows x 21 columns]

In [5]:
ratings_ba.describe()

,beer_id,brewery_id,abv,date,appearance,aroma,palate,taste,overall,rating
count,955968.000000,955968.000000,955968.000000,9.559680e+05,592218.000000,592218.000000,592218.000000,592218.000000,592218.000000,955968.000000
mean,89227.785082,15549.278586,7.013852,1.392513e+09,3.960549,3.904018,3.896332,3.929043,3.923961,3.908893
std,71579.937548,13788.970420,2.050596,8.146344e+07,0.506189,0.554808,0.551020,0.580592,0.555625,0.550414
min,12.000000,3.000000,0.380000,8.871948e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,33662.000000,651.000000,5.400000,1.362568e+09,3.750000,3.500000,3.500000,3.500000,3.500000,3.600000
50%,78010.000000,16333.000000,6.700000,1.408529e+09,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,123062.000000,27919.000000,8.100000,1.447240e+09,4.250000,4.250000,4.250000,4.250000,4.250000,4.250000
max,293296.000000,49808.000000,67.500000,1.501582e+09,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [6]:
ratings_rb.describe()

,beer_id,brewery_id,abv,date,user_id,appearance,aroma,palate,taste,overall,rating
count,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06,1.020638e+06
mean,1.661038e+05,7.860029e+03,6.595793e+00,1.357690e+09,1.105967e+05,3.504832e+00,6.664902e+00,3.369754e+00,6.719864e+00,1.369935e+01,3.395872e+00
std,1.398576e+05,7.190844e+03,2.031418e+00,1.134448e+08,1.079165e+05,7.213591e-01,1.331202e+00,7.384403e-01,1.342910e+00,2.697373e+00,5.798052e-01
min,3.000000e+00,1.000000e+00,3.800000e-01,9.567432e+08,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e-01
25%,3.939100e+04,1.069000e+03,5.000000e+00,1.289646e+09,2.424900e+04,3.000000e+00,6.000000e+00,3.000000e+00,6.000000e+00,1.200000e+01,3.100000e+00
50%,1.391270e+05,6.163000e+03,6.100000e+00,1.388833e+09,8.074700e+04,3.000000e+00,7.000000e+00,3.000000e+00,7.000000e+00,1.400000e+01,3.500000e+00
75%,2.624890e+05,1.305800e+04,7.700000e+00,1.447326e+09,1.494460e+05,4.000000e+00,7.000000e+00,4.000000e+00,8.000000e+00,1.500000e+01,3.800000e+00
max,5.364490e+05,3.221800e+04,6.750000e+01,1.501495e+09,4.899080e+05,5.000000e+00,1.000000e+01,5.000000e+00,1.000000e+01,2.000000e+01,5.000000e+00

In [7]:
ratings_with_text_ba.describe()

,beer_id,brewery_id,abv,date,appearance,aroma,palate,taste,overall,rating
count,289025.000000,289025.000000,289025.000000,2.890250e+05,283870.000000,283870.000000,283870.000000,283870.000000,283870.000000,289025.000000
mean,72865.590288,12075.558602,6.960816,1.337593e+09,3.909117,3.830077,3.827642,3.858805,3.867281,3.855623
std,71995.642414,13330.656117,2.060815,1.140297e+08,0.551450,0.610414,0.612782,0.650662,0.631994,0.564462
min,12.000000,3.000000,0.380000,8.871948e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,13726.000000,396.000000,5.300000,1.260443e+09,3.500000,3.500000,3.500000,3.500000,3.500000,3.570000
50%,53250.000000,4028.000000,6.500000,1.347271e+09,4.000000,4.000000,4.000000,4.000000,4.000000,3.930000
75%,102897.000000,23251.000000,8.000000,1.437041e+09,4.250000,4.250000,4.250000,4.250000,4.250000,4.220000
max,293285.000000,49766.000000,67.500000,1.501582e+09,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [8]:
ratings_with_text_rb.describe()

,beer_id,brewery_id,abv,date,user_id,appearance,aroma,palate,taste,overall,rating
count,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06,1.020599e+06
mean,1.661078e+05,7.860223e+03,6.595831e+00,1.357691e+09,1.105949e+05,3.504834e+00,6.664892e+00,3.369754e+00,6.719853e+00,1.369931e+01,3.395867e+00
std,1.398583e+05,7.190887e+03,2.031416e+00,1.134464e+08,1.079177e+05,7.213609e-01,1.331195e+00,7.384379e-01,1.342907e+00,2.697368e+00,5.798036e-01
min,3.000000e+00,1.000000e+00,3.800000e-01,9.567432e+08,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e-01
25%,3.939100e+04,1.069000e+03,5.000000e+00,1.289646e+09,2.424900e+04,3.000000e+00,6.000000e+00,3.000000e+00,6.000000e+00,1.200000e+01,3.100000e+00
50%,1.391270e+05,6.163000e+03,6.100000e+00,1.388833e+09,8.074700e+04,3.000000e+00,7.000000e+00,3.000000e+00,7.000000e+00,1.400000e+01,3.500000e+00
75%,2.624890e+05,1.305800e+04,7.700000e+00,1.447326e+09,1.494460e+05,4.000000e+00,7.000000e+00,4.000000e+00,8.000000e+00,1.500000e+01,3.800000e+00
max,5.364490e+05,3.221800e+04,6.750000e+01,1.501495e+09,4.899080e+05,5.000000e+00,1.000000e+01,5.000000e+00,1.000000e+01,2.000000e+01,5.000000e+00

In [9]:
users.describe()

                 ba                                       rb                \
             joined   nbr_ratings  nbr_reviews        joined   nbr_ratings
count  3.020000e+03   3020.000000  3020.000000  3.020000e+03   3020.000000
mean   1.279038e+09    219.901656   125.311921  1.281785e+09    285.697682
std    1.093010e+08    712.112891   471.773414  1.092756e+08   1186.459670
min    9.811116e+08      1.000000     0.000000  9.568296e+08      1.000000
25%    1.203138e+09      2.000000     1.000000  1.203743e+09      2.000000
50%    1.280873e+09     13.000000     3.000000  1.295953e+09      5.000000
75%    1.368806e+09    112.000000    31.000000  1.363712e+09     42.000000
max    1.501495e+09  12046.000000  7593.000000  1.500372e+09  20678.000000


             user_id
count    3020.000000
mean   159543.613245
std    117972.301045
min        46.000000
25%     70245.250000
50%    122049.500000
75%    250089.750000
max    483013.000000

In [10]:
users.describe()

                 ba                                       rb                \
             joined   nbr_ratings  nbr_reviews        joined   nbr_ratings
count  3.020000e+03   3020.000000  3020.000000  3.020000e+03   3020.000000
mean   1.279038e+09    219.901656   125.311921  1.281785e+09    285.697682
std    1.093010e+08    712.112891   471.773414  1.092756e+08   1186.459670
min    9.811116e+08      1.000000     0.000000  9.568296e+08      1.000000
25%    1.203138e+09      2.000000     1.000000  1.203743e+09      2.000000
50%    1.280873e+09     13.000000     3.000000  1.295953e+09      5.000000
75%    1.368806e+09    112.000000    31.000000  1.363712e+09     42.000000
max    1.501495e+09  12046.000000  7593.000000  1.500372e+09  20678.000000


             user_id
count    3020.000000
mean   159543.613245
std    117972.301045
min        46.000000
25%     70245.250000
50%    122049.500000
75%    250089.750000
max    483013.000000